<div class="home">









        <!-- Collect the nav links, forms, and other content for toggling -->
        <div style="position: fixed; background-color: transparent;">
          <ul class="nav navbar-nav" style="display: block;">
            <li><%= image_tag ("logoaz.png"), :style => ("height: 60px; width: 120px; margin-right: 420px;")%></li>
            <li><a href="#">Sobre Nós</a></li>
            <li><%= link_to "Campanhas", seguros_path%></li>
            <li><a href="#">Equipa</a></li>
            <li><%= link_to "Contactos", teams_path%></li>
          </ul>
        </div><!-- /.navbar-collapse -->











  <div style="text-align: center;">
  <%= image_tag ("lisboa1.jpg"), :class => "ban", :style => "height: 80%; width: 100%; postion:relative; " %>
  <!-- <btn class="btn-primary" style="color: white; padding-top: 10px; padding-bottom: 10px; padding-right: 25px;padding-left: 25px; font-size: 20px; border: 2px solid white; position: absolute; top:80%; border-radius: 5px; ">Campanhas</btn> -->
  <!-- <div class="w3-container w3-center w3-animate-left"> -->
  </div>
  <!--  <script>
     $(window).scroll(function(){
    $(".ban").css("opacity", 1 - $(window).scrollTop() / 550);
  });
   </script> -->

<!-- </div> -->

</div>
<!-- <script>
$(function(){
  $("#btn").click(function(){
    /*//Animação com loop infinito (até clicar)
    $("#d2").toggleClass("rotating");*/
    $("#btn").toggleClass("spinEffect");
  });
});
</script> -->


  <div class="scroll-downs" style="margin-top: 50px;">
  <div class="mousey">
    <div class="scroller"></div>
  </div>
</div>

<div>
<h1 style="text-align:center; color: white; padding: 50px; margin-top: 80px; font-size: 50px; background-color:rgb(239, 142, 105); font-weight: 900; box-shadow: 10px 10px 5px gray">Sobre Nós</h1>
</div>




<p>
