<div class="home">

<div style="text-align: center; ">
  <%= image_tag ("sol.jpg"), :class => "ban", :style => "width: 100%;
        object-fit: cover;
        max-height:800px;
        overflow: hidden;
        margin-top: 0; " %>

        <h1 style="margin-top: -30%; color: white; font-weight: bold; text-shadow: 1px 1px black; font-size: 80px;">Soluções</h1>

  </div>
   <div style="margin-top:30%; ">

  <div style="text-align:center; margin-top: 100px;">
  <h3 style="margin-bottom: 30px">Soluções</h3>
</div>


  <div>
  <hr>
  <p style="font-size: 20px; margin-left: 50px;">Aqui pode encontrar as soluções para se proteger de todas as imprevisibilidades do dia a dia.<br>
  Soluções para si, para a sua empresa e para a sua família.</p>
  </div>
  <div style="text-align:center; margin-bottom:200px;">

  <button class="searchbutton"><%= link_to "A minha solução", seguros_path%></button>

  </div>


</div>




