/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 * {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
 }
 html {
  scroll-behavior: smooth;
}

.carousel-indicators{
  display: none !important;
}

table{
  border-spacing: 20px !important;
  border-collapse: separate !important;
}
.ft{
  text-align:center;
}




.footer{
  background-color: #22282e;
  color: white;
  margin-top: 100px;
}

.field{
  width: 100%;
}
.procurar{
  text-align:center;
  margin-top: 30px;
}

.searchbutton{
  color: white;
  background-color: #22282e;
  font-size: 20px;
  border: 0px;
  border-radius: 25px;
  margin-top: 20px;
  padding: 10px;
  transition:0.2s;
}

.searchbutton:hover{
background-color: #246ca3;
  }

.searchfield{
  width: 30%;
  padding: 10px;
  border-radius: 25px;
}

input, textarea, select {
    outline: none;
}

.seguroname{
font-size: 18px;
color:black !important;
margin-top: 20px;

}

.enviar{
  color: white;
  width:40%;
  background-color: #22282e;
  font-size: 20px;
  border: 0px;
  border-radius: 25px;
  margin-top: 20px;
  padding: 10px;
  transition:0.2s;
}

.enviar:hover{
  background-color: #246ca3;
}

#seguroslista{
  border-right: 1px solid gray;
}


