// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cardhome{
  border: 1px solid gray;
  box-shadow: 5px 5px 5px gray;
  height: 400px;
  width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
    img{
         width: 400px;
    }
}

.scroll-downs {
  position: absolute;
  top: 60%;
  right: 0;
  bottom: 50px;
  left: 0;
  margin: auto;

  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 5px solid black;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: black;
  animation-name: scroll;
  animation-duration: 3.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 4; }
  100% { transform: translateY(15px); opacity: 0;}
}
