// Place all the styles related to the seguros controller here.
// They will automatically be included in application.css.


body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.style_image{
  width: 100%;
}


h1 {

  font-weight: 300;
}

span{
  color: #206ca3;
  cursor: pointer;
}
span:hover{
  color: blue
}


  #name{
    display: inline !important;
    margin-left: 30px;
    font-size: 17px;

  }

  ul{
    list-style-type: none;
  }

  li{
    color: black !important;
    display: block !important;
  }
  #nav a{
    color: white !important;
  }
#nav a:hover{
    color: black !important;
  }
  #nav a:active{
    color: blue !important;
  }
#drop1{
  font-size: 20px;
  padding: 15px;
}


// First example styles




.form {
  margin-top: 100px;
  text-align: center;
  background-color: #f8f8f8;
}

.tform {
  text-align: center;
  padding-top: 50px;
}
.in{
  height: 30px;
  width: 200px;
  margin: 20px;
  border-radius: 5%;
  font-size: 16px;
}

.check{
  font-size: 1000px;
}
.title{
  position:relative;
  float:right;
  font-size: 40px;
  margin-right: 300px;

}

.cont{
  background-color: #206ca3;
}

